<!--The content below is only a placeholder and can be replaced.-->

<h2>Employee List New changes: </h2>

<nav>
  <a routerLink="/department" routerLinkActive="active">Department</a> <br>
  <a routerLink="/employees">Employees</a>
</nav>
<input type="text">
<router-outlet></router-outlet>
<!-- router views goes here -->
